<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/bower_components/jquery/src/jquery.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" @Html.ActionLink("Home", "Index", "Home")</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a @Html.ActionLink("News Letter", "Index", "NewsLetter")</a></li>
                    <li><a @Html.ActionLink("Visit our Products page", "Index", "Product")</a></li>
                    <li><a @Html.ActionLink("Admin", "Index", "Account")</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
