@model SonOfCodSeafood.Models.Product

@{
    ViewData["Title"] = "Gummy Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Business is booming! </h4>
<hr />

<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductId)

    @Html.LabelFor(model => model.Name, "Product Name:")
    @Html.EditorFor(model => model.Name)
    <br />
    <br />
    @Html.LabelFor(model => model.Description, "Product Description:")
    @Html.EditorFor(model => model.Description)
    <br />
    <br />
    <input type="submit" value="Save" />
}
<br />
<p>@Html.ActionLink("Back to Products", "Index")</p>
<br />
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>