@model SonOfCodSeafood.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Business is booming! </h4>
<hr />

<br />

<form method="post" asp-action="Create" asp-controller="Product" enctype="multipart/form-data">
    <div class="file-field input-field">
            <input type="file" name="img" multiple id="img" />
    </div>
    <br />
    @Html.HiddenFor(model => model.ProductId)

    @Html.LabelFor(model => model.Name, "Product Name:")
    @Html.EditorFor(model => model.Name)
    <br />
    <br />
    @Html.LabelFor(model => model.Description, "Product Description:")
    @Html.EditorFor(model => model.Description)
    <br />
    <br />
    <input type="submit" value="Save" />
</form>
<br />
<p>@Html.ActionLink("Back to Products", "Index")</p>
<br />
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>