@model IEnumerable<SonOfCodSeafood.Models.Product>
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our products:</h2>
@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Add a new product", "Create")</p>
    <br />
    <ul>
        @foreach (var product in Model)
        {
            <li>
                @Html.ActionLink(product.Name, "Details", new { id = product.ProductId }) | @Html.ActionLink("Edit", "Edit", new { id = product.ProductId }) | @Html.ActionLink("Delete", "Delete", new { id = product.ProductId })
                <br />
                @if (product.Img.Length > 0)
                {
                    <img src="data:image/jpg;base64,@System.Convert.ToBase64String(product.Img)" />
                }
            </li>
        }
    </ul>
}
else
{
<ul>
    @foreach (var product in Model)
    {
        <li>
            @Html.ActionLink(product.Name, "Details", new { id = product.ProductId })
        </li>
    }
</ul>

}

<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>